// Calendar Styles
body{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.vdp-datepicker__calendar{
  font-family: 'Montserrat', sans-serif;
  width: 362px !important;
  padding: 24px 30px 36px;

  .cell.day-header{
    font-size: 14px;
    color: #ABABAB;
    font-family: 'Montserrat', sans-serif;
  }

  .cell.day{
    font-size: 16px;
    color: #2F80ED;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
  }

  .cell.day.selected{
    border-radius: 50%;
    background: #2F80ED;
    color: #fff;
  }

  .cell.day.blank{
    color: #908E94;
  }
}
.vdp-datepicker__calendar
/*.mx-icon-next-year,
.mx-icon-last-year{
  display: none;
}
.mx-panel-date td{
  color: #908E94;
}
.mx-panel-date th {
  color: #ABABAB;
  font-weight: 300;
}
.mx-panel-date td.cur-month{
  color: #2F80ED;
}
.mx-calendar-content .cell.disabled{
  background: transparent;
}*/

// Swiper

.swiper-slide{

  img{
    max-width: 100%;
  }
}

.swiper-container{
  padding-bottom: 54px;
}
.swiper-container-horizontal > .swiper-pagination-bullets{
  bottom: 0;
}
.swiper-pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 14px;

  .swiper-pagination-bullet{
    background: #C4C4C4;
    transition: all 300ms;
    width: 6px;
    height: 6px;
    opacity: 1;
    margin: 0 5px !important;
  }

  .swiper-pagination-bullet-active{
    background: transparent;
    border: 1px solid #702283;
    width: 14px;
    height: 14px;

  }
}


// Styles

* {
  box-sizing: border-box;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;

  li + li{
    margin-top: 12px;
  }
}

.h2{
  font-size: 36px;
  line-height: normal;
  font-weight: 800;
}

.h3{
  font-size: 24px;
  line-height: normal;
  font-weight: 900;

  & + p{
    margin-top: 15px;
  }
}

p {
  font-size: 1em;
  line-height: 1.4375;
  color: inherit;
}

p + p{
  margin-top: 20px;
}

input{
  border: none;
  color: #000;
  height: 100%;
  width: 100%;

  &:disabled{
    background-color: inherit;
  }

  &::placeholder{
    color: #7D7D7D;
    font-size: 16px;
  }
}

input[type="text"],
input[type="tel"]{
  padding: 14px 16px;
  font-size: 16px;



}

.site-section{
  padding-top: 120px;
  //overflow-x: hidden;
  //overflow-y: visible;

  &--sm{
    padding-top: 180px;
  }

  &__title{
    margin-bottom: 70px;
  }
}

.button{
  background: linear-gradient(90deg,#FF017A 36.45%, #702283 105.02%), #702283;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 800;
  color: #fff;
  letter-spacing: 1px;
  display: block;
  border: none;
  outline: none;
  transition: box-shadow 300ms;
  cursor: pointer;
  height: 60px;


  &:hover{
    box-shadow: 0 12px 34px 0px #EE057B;

  }
}

.pac-container{
  //display: none !important;
}
.policy{
  display: flex;
  align-items: center;
  font-size: 14px;

  &__link{
    color: #2F80ED;
    text-decoration: none;
  }

  &__label{
    display: flex;
    align-items: flex-start;
    cursor: pointer;
  }

  &__checkbox{
    position: relative;
    width: 18px;
    height: 18px;
    margin-right: 7px;
    cursor: pointer;

    &:before{
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      border: 1px solid #2F80ED;
      background: transparent;
      border-radius: 3px;
      z-index: 1;
      cursor: pointer;
    }

    &:after{
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -80%, 0);
      width: 12px;
      height: 8px;
      background: url(/img/check-icon.svg) center no-repeat;
      opacity: 0;
      transition: transform 150ms;
    }

    &:checked{

      &:before{
        background: #2F80ED;
      }

      &:after{
        transform: translate3d(-50%, -50%, 0);
        opacity: 1;

      }

    }
  }
}

.by-cash{
  display: flex;
  flex-direction: column;
  width: calc(67% - 20px);
  margin-left: auto;

  .button{
    margin-top: 30px;
  }
}
.white-button{
  display: inline-block;
  width: 100%;
  margin-top: 35px;
  line-height: 60px;
  border: 1px solid #fff;
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  transition: all 250ms ease-in-out;
}


@media all and (max-width: 991px){
  body{
    font-size: 12px;
  }

  input{
    font-size: 14px;

    &::placeholder{
      font-size: 14px;
    }
  }
  .h2{
    font-size: 26px;
  }

  .h3{
    font-size: 16px;
  }

  .site-section{
    padding-top: 100px;

    &__title{
      margin-bottom: 50px;
    }

    &--pf{
      margin-bottom: 40px;
    }

    &--sm{
      padding-top: 100px;
    }


  }
}

@media all and (max-width: 767px){

  .h2{
    font-size: 18px;
  }

  .swiper-container{
    padding-bottom: 44px;
  }

  .site-section{
    padding-top: 80px;

    &__title{
      margin-bottom: 30px;
    }

    &--sm{
      padding-top: 80px;
    }
  }

  .by-cash{
    width: 100%;

    .button{
      margin-top: 40px;
    }
  }

  .policy__checbox{
    margin-top: 2px;
  }
}

